<h2>Image</h2>
<form>
    <input type="text" placeholder="title" ng-model="image.title">
    <input type="text" placeholder="url slug" ng-model="image.slug">
    <input type="text" placeholder="description" ng-model="image.description">
    <button type="button" btn-checkbox class="button" ng-model="image.featured">{{image.featured ? 'Featured' : 'Not Featured'}} (Click to toggle)</button>
    <label>Images <a ng-click="addImage()">Add Image</a></label>
    <input type="text" placeholder="image url" ng-repeat="url in image.urls track by $index" ng-model="image.urls[$index]">
    <button class="button" ng-click="submit()">Submit</button>
</form>
