<h2>Featured Artwork</h2>

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
    <!-- <li>
        <img class="th" data-interchange="[http://placehold.it/500x600, (default)], [http://placehold.it/500x800, (large)]" data-uuid="VqL02hWQInXp-vLlGN0-z9Lwqx-68ZTb4-PI2szGOFPThPfoUjIS" src="http://placehold.it/500x600">
    </li> -->

    <li ng-repeat="image in featuredItems">
        <a href="#entry/{{image.slug}}"><span class="th" picture-fill>
            <span pf-src="{{image.urls[0]}}"></span>
            <span ng-if="image.largeUrl" pf-src="{{image.largeUrl}}" data-media="only screen and (min-width: 40.063em)"></span>
        </span></a><p>{{image.title}}</p>
    </li>
</ul>
<h2>Scrapbook</h2>
<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
    <li>
        <img class="th" src="http://placehold.it/300">
    </li>
    <li>
        <img class="th" src="http://placehold.it/300">
    </li>
    <li>
        <img class="th" src="http://placehold.it/300">
    </li>
    <li>
        <img class="th" src="http://placehold.it/300">
    </li>
    <li>
        <img class="th" src="http://placehold.it/300">
    </li>
    <li>
        <img class="th" src="http://placehold.it/300">
    </li>
</ul>